/* -----------------------------------------------------------------------------
    R E S E T
----------------------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, tt, var, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
{
    display: block;
}
body
{
    line-height: 1;
}
ol, ul
{
    list-style: none;
}
blockquote, q
{
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after
{
    content: '';
    content: none;
}
table
{
    border-collapse: collapse;
    border-spacing: 0;
}

/* ----------------------------------------------------------------------------
    general
----------------------------------------------------------------------------- */
body
{
    margin: 4px 16px 4px 16px;
    padding: 0;
}

strong, b
{
    font-weight: bolder;
    color: #444;
}

em, i
{
    font-style: italic;
}

a:link, a:visited
{
    outline: 0;
    color: #0F6D99;
    text-decoration: none;
}

a:hover, a:focus, a:active
{
    color: #CC3300;
}

sup
{
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}

/* ----------------------------------------------------------------------------
    controls
----------------------------------------------------------------------------- */
label
{
    color: #666;
    font-size: 17px;
}

input, select, textarea
{
    color: #666;
    background: #fff;
    padding: 4px;
    border: 1px solid #CCCCCC;
    font-size: 13px;
}

input:focus, select:focus, textarea:focus
{
    background: #F9FBFC;
}

input[type="submit"]
{
    display: inline-block;
    color: #202020;
    position: relative;
    background: #F7F7F7;
    border: 1px solid #CCCCCC;
    font-size: 14px;
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

input[type="submit"]:hover
{
    background: #E0E0E0;
}

/* ----------------------------------------------------------------------------
	main
----------------------------------------------------------------------------- */
#main
{
    color: #333;
    width: 960px;
    margin: 0 auto;
    font-family: 'Segoe UI' , 'Trebuchet MS' , Helvetica, sans-serif;
}

/* ----------------------------------------------------------------------------
	logo
----------------------------------------------------------------------------- */
#header-wrap
{
    height: 80px;
}

#logo
{
    font-size: 48px;
    text-align: right;
    font-family: 'Segoe UI Light' , 'Segoe UI' , 'Trebuchet MS' , Helvetica, sans-serif;
}

#logo a
{
    color: #888;
}

#logo .first-letter
{
    color: #2BB5DC;
}

/* ----------------------------------------------------------------------------
	menu
----------------------------------------------------------------------------- */
#menu-wrap
{
    float: right;
    width: 230px;
}

#menu
{
    width: 100%;
    border-left: 1px solid #CCCCCC;
}

#menu h3
{	
	color: #fff;
	background: #6CBCDD;
	font-size: 22px;
	font-family: 'Segoe UI Light', 'Segoe UI', 'Trebuchet MS', Helvetica, sans-serif;
	
	margin-left: 8px;
	padding: 8px;
	
	text-transform: uppercase;
}

#menu ul
{
    list-style: none;
    margin: 16px 0 16px 16px;
}

#menu li a
{
    color: #333;
    background: #fff;
	display: block;
	padding-left: 4px;
    margin: 0 0 8px 0;
    border-left: 6px solid #B2B2B2;
}

#menu li a:hover
{
    color: #0F6D99;
    background: #fff;
}

#menu .tagcloud
{
	margin: 8px 0 16px 16px;
}

/* ----------------------------------------------------------------------------
	content
----------------------------------------------------------------------------- */
#content
{
    float: left;
    width: 714px;
    margin: 0 16px 32px 0;
}

#content h2
{
    padding: 4px;
    margin-top: 16px;
	color: #333;
	border-bottom: 1px solid #ccc;
	
	font-size: 28px;
	font-family: 'Segoe UI Light' , 'Segoe UI' , 'Trebuchet MS' , Helvetica, sans-serif;
}

#content h2 a
{
	font-size: 28px;
	font-family: 'Segoe UI Light' , 'Segoe UI' , 'Trebuchet MS' , Helvetica, sans-serif;
}

#content h2:first-child
{
    margin-top: 0;
}

#content h3
{
	color: #333;
	font-size: 22px;
	font-family: 'Segoe UI Light' , 'Segoe UI' , 'Trebuchet MS' , Helvetica, sans-serif;
}

#content p
{
	margin-bottom: 18px;
    font-size: 15px;
    line-height: 20px;
}

#content ul, ol
{
	margin-bottom: 18px;
	margin-left: 24px;
    padding: 0 0 0 16px;
    font-size: 15px;
}

#content ol
{
    list-style-type: decimal;
}

#content ul
{
    list-style-image: url('images/list.png');
}

#content ul li, ol li
{
    margin: 0 0 6px 0;
}

#content ul li p, ol li p
{
    margin: 0;
}

#content .alignleft
{
	float: left;
}

#content .aligncenter
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#content .alignright
{
	float: right;
}

#content .link-comment-count
{
    width: 100%;
	text-align: right;
	margin-top: -10px;
	margin-bottom: 16px;
}

#content .link-comment-count a
{
	padding-left: 4px;
    background: #fff;
}

#content .record-info
{
	width: 100%;
	height: 56px;
	padding-top: 4px;
	background: #F3F3F3;
	border-top: 1px solid #ccc;
}

#content .record-info p
{
	margin: 4px;
}

#content .record-info .autor-date
{
	float: left;
	width: 200px;
	padding-left: 8px;
	border-right: 1px solid #ccc;
}

#content .record-info .tags
{
	float: left;
	padding-left: 8px;
}

/* ----------------------------------------------------------------------------
	comments
----------------------------------------------------------------------------- */
#content .comment-rss
{
	margin-top: 32px;
	border-bottom: 1px solid #999;
}

#content .comment-count
{
	float: right;
	padding: 4px;
	margin-top: -32px;
	margin-bottom: 44px;
	
	color: #fff;
	background: #6CBCDD;
}

#content h3.your-comment
{
	padding: 16px 0 16px 0;
	border-top: 1px solid #ccc;
}

ul#comments
{
	margin: 0;
	padding: 0;
	list-style: none;
}

#comments p
{
	margin: 0 0 8px 0;
}

#comments .comment
{
	display: block;
	margin-bottom: 16px;
}

#comments .comment .info
{
	width: 100%;
	background: #6CBCDD;
}

#comments .comment .info th, td
{
	padding: 4px;
	vertical-align: middle;
}

#comments .comment .info th
{
	color: #fff;
	font-size: 18px;
}

#comments .comment .info td
{
	color: #fff;
}

#comments .comment .info td a
{
	color: #fff;
	text-decoration: underline;
}

#comments .comment .info td a:hover
{
	color: #333;
}

#comments .comment .info .nick
{
	width: auto;
	text-align: left;
}

#comments .comment .info .message
{
	width: 140px;
	text-align: center;
	border-left: 1px solid #fff;
}

#comments .comment .info .quote
{
	width: 20px;
	text-align: center;
	border-left: 1px solid #fff;
}

#comments .comment .info .date
{
	width: 120px;
	text-align: center;
	border-left: 1px solid #fff;
}

#comments .comment .info .time
{
	width: 60px;
	text-align: center;
	border-left: 1px solid #fff;
}

#comments .comment .info .number
{
	width: 40px;
	text-align: center;
	border-left: 1px solid #fff;
}

#comments .comment .info p
{
	margin: 4px;
	display: inline;
}

#comments .comment .content
{
	padding-top: 8px;
	padding-left: 8px;
}

#comments blockquote
{
	color: #808080;
	background: #F3F3F3;
	border: 1px dashed #ccc;
	border-left: 4px solid #ccc;
	
	padding: 8px;
	margin: 0 0 8px 16px;
}

#comments blockquote p
{
	margin: 0;
}

/* ----------------------------------------------------------------------------
	bb
----------------------------------------------------------------------------- */
#content .bb
{
	padding: 8px;
	cursor: pointer;
	font-size: 16px;
	display: inline-block;
}

#content .bb:hover
{
	color: #fff;
	background: #6CBCDD;
}

#content .bb-bold
{
	font-weight: bold;
}

#content .bb-italic
{
	font-style: italic;
}

#content .bb-striked
{
	text-decoration: line-through;
}

#content .bb-link
{
	text-decoration: underline;
}

/* ----------------------------------------------------------------------------
	copyright
----------------------------------------------------------------------------- */
#copyright
{
    width: 960px;
    margin-left: -4px;
    clear: both;
    text-align: center;
    background: #6CBCDD;
    border-right: 4px solid #D6D6D6;
    border-left: 4px solid #D6D6D6;
    border-bottom: 2px solid #D6D6D6;
}

#copyright #text
{
    padding: 10px;
    color: #fff;
    font-size: 14px;
}

#copyright #text a
{
    color: #fff;
    cursor: pointer;
}

/* epicsoft.ru */